<%= stylesheet_link_tag 'about'%>
<body>
<div class="container" style="background-color: white; margin-top: 20px">
<div style="display: flex;">
  <div style="flex: 1; margin-right: 10px; margin-top: 5%; padding: 2em">
      <h1><b>leaf the world be</b></h1>
      <h3> New leaf is an informational website designed to help people be more aware of what they can do to help slow down climate change.</h3>
      <%= link_to "See More", root_path, class:"btn btn-outline-secondary"%>
  </div>
  <div style="flex: 1; margin-left: 10px">
    <img 
    src="https://img.freepik.com/free-vector/reforestation-concept-illustration_114360-8754.jpg?w=900&t=st=1677905081~exp=1677905681~hmac=0154df10f99d57c45a0b2d10649f6b50f541c081fc314285869c2ae39be15f00" 
    class="img-fluid" alt="..." 
    style= "width:100%">
    </div>
</div>
</div>
</body>