<h1>Welcome to New Leaf</h1>
<p>Note to self: Need to drop the first iteration</p>

<% @countries.each do |country| %>
   <p><b> <%= country.name %> </b></p>
   <p> Year: <%= country.year %> </p>
   <p> Air Quality: <%= country.ghg_amount %> </p>
<%end%>