.userPage {
    background-image: url("https://img.freepik.com/free-vector/silhouette-shadow-forest-scene_1308-103025.jpg?w=1380&t=st=1678068291~exp=1678068891~hmac=62fddcf526c91e1b6bb24cf6bb5485b1a1c95304c1d2ce241922f473e66b1ffe");
    background-size: cover;
    background-position: center;
    height: 500px;
}