.userPage {
    background-image: url("https://img.freepik.com/free-vector/silhouette-jungle-landscape-background_1308-67819.jpg?w=1380&t=st=1678130172~exp=1678130772~hmac=3eca3a3965bc13ed322e97f5950f317958d3abedff642e52204f7b3c11fca7a4");
    background-size: cover;
    background-position: center;
    height: 600px;
}