<p style="color: green"><%= notice %></p>

<h1>Categories</h1>
<div style="text-align:center">
<h4>Looking for something specific?</h4>
</div>
<div class= "container" style="border: 1px solid green">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Types of Pollution</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= render category%></td>
      <td><%= link_to "Show this category", category %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to "Add category", new_category_path %>
