
<img 
   src="https://img.freepik.com/free-vector/illustration-human-avatar-with-environment_53876-17627.jpg?w=826&t=st=1678052551~exp=1678053151~hmac=ff675b48e76ce7815339a51e95b41072d92002d41b308dc140bacc15daf2b851" 
   class="img-fluid" alt="..." 
   style= "
      width:100%;
      padding: 1em">

   <div
      class="home" 
      style="
         padding: 1em; 
         width: 30rem; 
         height:15rem; 
         text-align: center; 
         color:#3B3C36;
         position: absolute; 
         top: 300px; 
         margin: auto;
         right: 20;
         z-index: 1;">
        <h1>Create an Activity</h1>
        <%= render "form" %>
   </div>
</div>
